<template>

  <section class="ui stacked segment">
    <article class="six wide column">
      <h3 class="ui dividing header"> Timeline </h3>
      <table class="ui celled blue table segment">
        <thead>
        <tr>
          <th class="seven wide">Content</th>
          <th class="four wide">Posted By</th>
          <th class="five wide">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr repeat.for="tweet of tweets">
          <td> ${tweet.content}</td>
          <td> ${tweet.tweetor}</td>
          <td> ${tweet.date}</td>
        </tr>
        </tbody>
      </table>
    </article>
  </section>

</template>
