<template>
  <section>

    <form submit.trigger="sendTweet()" class="ui form four wide column stacked segment">

      <div class="grouped inline fields">
        <h3 class="ui dividing header">Write a message to tweet </h3>
        <div class="field">
          <textarea maxlength="140" placeholder='Write your post here, 140 characters max.' value.bind="content"></textarea>
        </div>
      </div>
      <button class="ui blue submit button">Tweet</button>

    </form>

  </section>
</template>
