<template>
  <section class="ui grid segment">
    <div class="six wide column">
      <compose view-model="../tweet/tweet"></compose>
    </div>
    <div class="three wide column">
      <img src="assets/images/tribal-bird.png" class="ui medium image">    </div>
    <div class="seven wide column">
      <compose view-model="../timeline/timeline"></compose>
    </div>

  </section>
</template>
