<template bindable="router">
  <nav class="ui inverted blue menu">
    <header class="header item"><a href="/"> MyTweet </a></header>
    <div class="right menu">
      <div repeat.for="row of router.navigation">
        <a class="${row.isActive ? 'active' : ''} item"  href.bind="row.href">${row.title}</a>
      </div>
    </div>
  </nav>
</template>
